.else-message-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.else-message-container h1 {
    font-family: 'Signika', sans-serif;
}

.cart-itself {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
}

.cart-itself h1 {
    margin: 10px;
    font-family: 'Signika', sans-serif;
}

.actual-cart {
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    margin: 10px;
}

.container-for-a-cart-options {
    position: relative;
    display: flex;
    justify-content: center;
    height: 150px;
    width: auto;
    background: #343c4c;
}

.cart-item-name {
    position: relative;
    color: white;
}

.container-of-btn {
display: flex;
}

.container-of-btn input {
border: 2px solid black;
width: 50%;
}


.delete-item-btn {
border: 2px solid black;
}

.checkout-btns {
    align-self: center;
    position: relative;
    height: 50%;
    width: 175px;
    border: none;
}

.first {
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}

.secondary {
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}

.secondary a {
    text-decoration: none;
    color: black;
}

/* cart item */

.container-of-filled-cart {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-self: center;
    height: 250px;
    width: 200px;
    margin: 30px;
    background: #f1f1f1;
}

.cart-item-itself {
    height: 250px;
    width: 200px;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.cart-item-itself h4 {
    margin: 10px;
}
