.else-message-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.else-message-container h1 {
    font-family: 'Signika', sans-serif;
}

.cart-itself {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}

.cart-itself h1 {
    margin: 10px;
    font-family: 'Signika', sans-serif;
}

.actual-cart {
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    margin: 10px;
}

.container-for-a-cart-options {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    width: auto;
    background: #343c4c;
}

.cart-item-name {
    position: relative;
    color: white;
}

.container-of-btn {
display: flex;
justify-content: center;
height: 50%;
width: 100%;
}

.container-of-btn input {
border: none;
height: 45px;
width: 45px;
margin: 10px;
border-radius: 25px;
align-self: center;
}

.container-for-etc {
    display: flex;
    flex-direction: column;
}

.container-for-etc span {
    margin:10px
}

.product-image-cart {
    height: 100px;
    width: 100px;
    align-self: center;
}

/* minus and plus button */

.btn- {
    background: #ff000052;
}

.btn-- {
    background: #25a34b85;
}

/* */

.delete-item-btn {
border: none;
background: #80008063;
height: 100%;
width: 100%;
font-size: 10px;
color: white;
text-transform: uppercase;
}

.container-delete-all {
    position: relative;
    display: flex;
    height: 25px;
}

.container-for-all-btns {
    display: flex;
    flex-direction: column;
    width: 130px;
}

.checkout-btns {
    align-self: center;
    position: relative;
    height: 55%;
    margin: 10px;
    width: 175px;
    border: none;
    border-radius: 25px;
    font-family: 'Signika', sans-serif;
    color: white;
}

.checkout-btns a {
    text-transform: uppercase;
    color: white;
}

.first {
    text-transform: uppercase;
    background: #145094;
}

.secondary {
    background: #2b1494;
}

.secondary a {
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    color: white;
}

/* cart item */

.container-of-filled-cart {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-self: center;
    width: 100%;
    margin: 30px;
    background: #f1f1f1;
}

.cart-item-itself {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-item-itself h4 {
    margin: 10px;
}
