.cart-itself {
    display: flex;
    flex-direction: column;
    padding: 6em 0;
    width: 90%;
}

.cart-mess {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 4rem 0;
}

.cart-mess h2 {
    margin: 1em 0;
}

.cart-mess h2 a {
    text-decoration: none;
    color: var(--green-color-itself);
}

.container-for-a-cart-options span {
    margin: 1em 0;
}

.label-for-cart-prod {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 100%;
}

/* container for item */

.cart-item-itself {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.container-for-etc {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-image-cart {
    position: relative;
    display: flex;
    height: 7rem;
    padding: 10px;
}

.row-for-etc {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.container-for-item-name-h4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-for-item-price-h4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-for-a-cart-options {
    display: flex;
    flex-wrap: wrap;
}

.container-for-a-cart-options .site-btn {
    margin: 10px;
}

.container-for-a-cart-options h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: .6em 0;
    width: 100%;
}

/* container for item */