.cart-itself {
    display: flex;
    flex-direction: column;
    padding: 6em 0;
    width: 90%;
}

.cart-mess {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 4rem 0;
}

.cart-mess h2 {
    margin: 1em 0;
}

.cart-mess h2 a {
    text-decoration: none;
    color: var(--green-color-itself);
}

.container-for-a-cart-options span {
    margin: 1em 0;
}

.label-for-cart-prod {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 100%;
}

/* container for item */

.cart-item-itself {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
    background: white;
    margin: 10px;
}

.container-for-etc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.product-image-cart {
    position: relative;
    display: flex;
    height: 10rem;
    padding: 10px;
}

.row-for-etc {
    display: flex;
    flex-wrap: wrap;
}

.quantity-box-container p {
    align-self: flex-end;
}

.container-for-item-name-h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: .5em ;
}

.container-for-item-name-h4 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 5px;
}

.container-for-a-cart-options {
    display: flex;
    flex-wrap: wrap;
}

.container-for-a-cart-options .site-btn {
    margin: 10px;
}

.container-for-a-cart-options h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: .6em 0;
    width: 100%;
}

@media (max-width:599px) {
    .row-for-etc {
        width: 100%;
    }
    .product-image-cart {
        height: 58.5vw;
    }
}

/* container for item */