.Widget-container-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 780px;
  width: 100%;
}

.Background {
  position: absolute;
  height: 780px;
  width: 100%;
}

.First-Section__ {
  height: 925px;
  background: #F7F8FA;
}

.BackdropWithDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 371px;
  width: 346px;
  background: url(../website-pages/images/card-bg.svg);
}

._second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 420px;
  width: 346px;
  margin: 10px 10px 120px;
}

.BackdropWithDescription span {
  font-size: 40px;
  text-align: center;
}

.BackdropWithDescription h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  width: 250px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.BackdropWithDescription p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 800;
  margin: 10px;
  width: 350px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.BackdropWithDescription button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  height: 41px;
  width: 310px;
  margin: 20px;
}

.BackdropWithDescription button a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Nanum Gothic', sans-serif;
}

/* second section */
.Widget-container-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 100%;
}

.Widget-container-second h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  width: 250px;
  margin: 10px;
  color: #0B254B;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.item h1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 16px;
  font-weight: 900;
  width: 200px;
  margin: 20px 10px;
  color: #0B254B;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}

.item span {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 20px;
  font-weight: 900;
  width: 120px;
  margin: 20px 10px;
  color: #56B280;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-second p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 800;
  margin: 15px;
  width: 310px;
  color: #5E6E89;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-second button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  height: 40px;
  width: 176px;
  margin: 10px 10px 60px;
}

.Widget-container-second button a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Nanum Gothic', sans-serif;
}

/* second section */
/* third section */
.Widget-container-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 925px;
  width: 100%;
}

.Widget-container-third h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 350px;
  font-size: 40px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-third span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  width: 350px;
  margin: 10px 10px;
  color: #56B280;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-third img {
  margin: 0px;
}

.Widget-container-third button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  top: 600px;
  height: 40px;
  width: 176px;
}

img.feature-details {
  margin: 10px;
}

.FeaturesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-top: -15px;
  height: 150px;
  width: 100%;
}

.Widget-container-Fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 601px;
  width: 100%;
  background: #56b27f2c;
}

/* testimonial carousel */
.Testimonials-carousel {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  margin: 40px 0;
  background: #ffffff00;
}

.Testimonial-iselft {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 267px;
  height: 244px;
  background: #fff;
  margin: 0 12.35px;
  float: left;
  text-align: center;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.Testimonial-iselft:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 0 24.7px;
  opacity: .5;
  cursor: pointer;
}

.marquee {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 1100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.marquee--inner {
  display: block;
  width: 300%;
  position: absolute;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}

.marquee--inner:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* testimonial carousel */
/* third section */
/* fourth section */
.user-profile-pic {
  height: 63px;
  width: 64px;
}

.star-itself {
  margin: 0 .5px;
}

.testimonial-desc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 19px;
  width: 250px;
  margin: 14.5px 0 5px;
  color: #0B254B;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.testimonial-guy-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 600;
  width: 250px;
  margin: 5px;
  color: #5E6E89;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

._third {
  height: 121px;
  margin: 50px 10px 10px;
  background: none;
}

._third h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  width: 250px;
  margin: 10px;
  color: #0B254B;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

._third span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 600;
  width: 250px;
  margin: 10px;
  color: #5E6E89;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

/* fourth section */
/* */
.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 147px;
  width: 346px;
  margin: 30px;
  background: #f1f1f1;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.item .product-container:hover {
  opacity: 1;
}

.icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.product-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e7e7e7e5;
  height: 48px;
  width: 100%;
  bottom: 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-container:hover {
  cursor: pointer;
}

.product-image {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: auto;
  width: 346px;
  top: -50%;
}

.container-for-cart-btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
}

.container-for-desc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  padding-top: 5px;
}

.container-for-desc-item h1 {
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}

.container-for-desc-item p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 45px;
  width: 45px;
  margin: 5px;
  background: white;
  border: 2px solid black;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn .icon {
  color: black;
}

.btn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=item.css.map */