/* google font's */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* google font's */

:root {
    --black-color-itself: #272727;
    --green-color-itself: #C82586;
    --white-color-itself: #FFFFFF;
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font: 400 40px 'Roboto', sans-serif;
    color: #1D252C;
}

h2 {
    font: 400 20px 'Roboto', sans-serif;
    color: var(--green-color-itself);
    line-height: 25.6px;
}

h3 {
    font: 400 22px "Roboto", sans-serif;
    color: var(--black-color-itself);
    line-height: 25.6px;
}

h4 {
    font: 400 16px 'Roboto', sans-serif;
    color:#616161;
    letter-spacing: -0.9px;
    line-height: 25.6px;
}

h5 {
    font: 400 16px 'Roboto', sans-serif;
    color: #1D293F;
}

span {
    font: 400 16px 'Roboto', sans-serif;
    color: var(--green-color-itself);
}

select {
    font: 400 16px 'Roboto', sans-serif;
    height: 35px;
    background: #E5E5E5;
}

label {
    font: 400 1rem 'Roboto', sans-serif;
    color: #1D293F;
}

p {
    font: 400 18px 'Roboto', sans-serif;
    color: #1D252C;
}

li {
    font: 400 16px 'Roboto', sans-serif;
    cursor: pointer;
}

li a {
    color: white;
    text-decoration: none;
}

.header-mobile li {
    font: 400 26px 'Roboto', sans-serif;
    color: #1D252C;
    cursor: pointer;
    margin:.5em;
}

input {
    font: 400 1em 'Roboto', sans-serif;
    color: #1D293F;
    height: 42px;
    line-height: 32px;
    outline: none;
    padding: 0 5px;
    width: 100%;
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section#product-page, section#profile  {
    margin-top: 5rem;
}

textarea {
    font: 400 1.3rem 'Roboto', sans-serif;
    color: #1D293F;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.Toastify__toast-container--top-right {
    top: 6.5em !important;
}

.footer-text {
    font: 300 16px 'Roboto', sans-serif;
    color: var(--white-color-itself);
}

.centered-text {
    align-self: center;
}

#logout h1 {
    align-self: center !important;
    margin: .5em;
}

.copyright-text {
    font: 400 16px 'Roboto', sans-serif;
    color: #5E6E89;
}

#company_name {
    font-family: 'Helvetica Neue LT Pro', sans-serif;
}

#creator_1 {
    color: blue;
}

#creator_2 {
    color: green;
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #e9e8e8;
    width: 100%;
}

.site-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: var(--green-color-itself);
    border: none;
    border-radius: 4px;
    font: 400 20.65px "Roboto", sans-serif;
    color: var(--white-color-itself);
    cursor: pointer;
}

form .site-btn {
    padding: 0px 20px;
}

/* header */

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    width: 100%;
    background: var(--white-color-itself);
    z-index: 2;
}

.header-mobile {
    position: fixed;
    top: 75px;
    width: 100%;
    background: var(--white-color-itself);
    transition: 1s;
    opacity: 0;
    z-index: 3;
}

.active-pop {
    opacity: 1;
    visibility: visible;
}

.unactive-pop {
    opacity: 0;
    visibility: hidden;
}


.logo {
    max-height: 40px;
    cursor: pointer;
}

.navbar_icon {
    display: block;
}

/* menu navbar */

.navbar-menu {
    position: fixed;
    top: -15em;
    left: 0%;
    width: 100%;
    height: 4.5%;
    background: var(--white-color-itself);
    box-shadow: 0px 0px 15px -5px #000000;
    z-index: 1;
}

.navbar-menu ul {
    padding: 20px 0;
    background: var(--white-color-itself);
}

.navbar-menu ul {
    margin-top: .5em;
}

.navbar-menu img {
    padding: 0 .1%;
}

.navbar-menu li {
    font: 300 24px 'Roboto', sans-serif;
    padding: 3px 18px;
}

.opened {
    top: 4.5em;
}

/* menu navbar */

.navbar_icon {
    display: block;
}


.navbar_icon:hover {
    cursor: pointer;
}

.desktop-options {
    display: none;
}

.navigation-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-option {
    display: flex;
    align-items: center;
    margin: 0 .4em;
    z-index: 1;
}

.nav-option:hover~.first_bar {
    visibility: visible;
}

.arrow-menu {
    margin: 0 .7em;
}

.quantity-navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 200 10px 'Roboto', sans-serif;
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--green-color-itself);
    bottom: 1rem;
    left: 6em;
    z-index: 2;
}

.popup-navbar {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 52px;
    height: 196px;
    width: 240px;
    background: white;
    z-index: 2;
    clip-path: polygon(0 100%, 100% 100%, 100% 15%, 55% 15%, 45% 0, 35% 15%, 0 15%);
}

.profile-pic {
    height: 70px;
    width: 70px;
    margin: 1em;
}

.first_bar {
    left: -5.5em;
}

.second_bar {
    left: -2.75em;
}

.hidden {
    display: none;
}

/* header */

/* first main widget */

.startup-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    background: url(https://images.unsplash.com/photo-1563804447971-6e113ab80713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    padding: 10em 0;
}

#product_page .widget-description {
    width: calc(130px + 30%);
}

.widget-description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #F7F8FA;
    opacity: 80%;
    height: calc(200px + 25%);
    width: calc(100px + 60%);
    padding: 60px 10px;
}

.description-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    text-align: center;
    max-width: 20em;
    margin: .25rem 0 2rem;
}

/* first main widget */

/* second main widget */

.products-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em 0 5em;
}

.products-list button {
    margin: 2em 0 0em;
} 

.product-grid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* product-itself */

.product-itself {
    display: flex;
    flex-direction: column;
    background: var(--white-color-itself);
    -webkit-box-shadow: 0px 0px 15px -5px #000000; 
    box-shadow: 0px 0px 15px -5px #000000;
    width: calc(100px + 50%);
    margin: .5em 0;
}

.title-product {
    cursor: pointer;
}

.product-img {
    height: 10em;
}

.description-box-product {
    display: flex;
    flex-direction: column;
    padding: 4px 6px;
    overflow: hidden;
}

.price-product {
    align-self: flex-end;  
}

/* product-itself */

/* second main widget */

/* third main widget */

.another-informations {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3em 0;
    background: #F7F8FA;
}

.description-green {
    margin: 1em 0 0em;
    color: var(--green-color-itself);
}

.another-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.another-information-img {
    overflow: hidden;
    display: none;
}

.another-information-img-mobile {
    overflow: hidden;
    width: 100%;
    margin: -5em 0;
}

.features-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2em 1.5em;
}

.feature {
    cursor: default;
    margin: 10px 0;
}

.checkmark {
    margin: 0 .5em;
}

/* third main widget */

/* fourth main widget */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c825871f;;
    padding: 50px;
    width: 100%;
}

/* testimonial carousel */

.testimonials-carousel {
    position: relative;
    overflow: hidden;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 40px 0;
    background: #ffffff00;
}

.testimonial-itself {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 267px;
    height: 244px;
    border-radius: 6px;
    background: #fff;
    margin: 0 12.35px;
    float: left;
    text-align: center;
    transition: all .2s ease-out;
  }
  
  .testimonial-itself:hover {
    transform: scale(1.2);
    margin: 0 24.7px;
    opacity: .5;
    cursor: pointer;
  }

  .opinon-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 10px;
  }
  
  .marquee {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 1100px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .marquee--inner {
    display: block;
    width: 300%;
    position: absolute;
    animation: marquee 20s linear infinite;
  }
  
  .marquee--inner:hover {
    animation-play-state: paused;
  }
  
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }

  .swiper {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 267px !important;
    height: 244px !important;
    border-radius: 6px;
    background: #fff;
    margin: 0 12.35px;
    float: left;
    text-align: center;
    transition: all .2s ease-out;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

/* testimonial carousel */

/* fourth main widget */

/* footer */

.footer-line {
    position: relative;
    align-self: center;
    height: 1.5px;
    margin: 3.5vh 0 -5vh;
    width: 95%;
    background: var(--white-color-itself);
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background: #272727;
}

.footer-container-huge {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vw 2.5vw;
    margin: 4.5vh 0 0;
    width: 100%;
}

.footer-container-second {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-around;
   align-self: center;
   justify-content: space-between;
   padding:4vh 0;
   width: 100%;
}

.footer-nav-links {
    color: #fff;
    line-height: 28.8px;
    margin: 0 2.5vw;
}

.footer-nav-links li {
    line-height: 28.8px;
}

.footer-nav-main {
    color: var(--green-color-itself);
    cursor: default;
}


.logo-footer {
    max-width: 20vh;
    margin: .75em 0;
}

.footer-credits {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    background: #E5E5E5;
}

.footer-nav-links {
    list-style: none;
}

/* footer */

/* media queries */

@media (min-width: 599px) {

    section#product-page, section#profile {
        margin-top: 2em;
    }

/* second main widget */

.product-grid {
   display: grid;
   grid-template-columns: auto auto;
}

.products-list button {
    display: none;
} 

/* product-itself */

.product-itself {
    min-height: 15em;
    width: 255px;
    margin: 1em 1em;
}

.description-box-product {
    padding: 10px;
}

/* product-itself */

/* second main widget */

/* footer */

.footer-container-second {
  grid-template-columns: auto auto auto;
 }

/* footer */

}

@media (min-width:768px) {

    /* header */

    .navbar_icon {
        display: none;
    }

    .desktop-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 24.5em;
    }

    /* header */


    /* navbar menu */

    
.navbar-menu {
    display: none;
}


.header-mobile {
    display: none;
}

    /* navbar menu */

    /* first main widget */

    .startup-screen {
        background-size: cover;
        padding: 10em 0;
    }

    #main_page .widget-description {
        width: calc(160px + 30%);
        padding: 5em 0;
    }

    #register .widget-description {
        width: calc(180px + 30%);
        padding: 5em 0;
    }

    /* first main widget */

    /* fourth widget */
    .testimonial-itself {
        height: 295px;
        width: 350px;
    }
    .testimonial-itself:hover {
        transform: scale(1);
        margin: 0 24.7px;
        opacity: .5;
        cursor: pointer;
    }
    /* fourth widget */

    /* footer */
    .footer {
        padding: 5vh 0;
    }
    .footer-line {
        margin: 0px 0 0px;
    }

    .footer-container-huge {
       flex-direction: row;
    }

    .footer-container {
        align-self: flex-start;
        margin: 0;
    }

    /* footer */

}

@media (min-width: 1129px) {

/* second main widget */

.product-grid {
   display: grid;
   grid-template-columns: auto auto auto auto;
}

/* second main widget */

/* third main widget */

.another-information-img {
    width: 40rem;
}

.another-informations {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

.another-information-container {
    align-items: center;
}

.another-information-container .description-box {
    align-items: baseline;
    text-align: left;
    align-self: center;
    left: -60px;
}

.another-information-container button {
    margin: 2.5em 0 0em;
}

.features-list {
    margin: 0;
}

.another-information-img {
    display: block;
}

.another-information-img-mobile {
    display: none;
}

/* third main widget */

}

/* media queries */