.navbar-itself {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
  background: white;
  height: 75px;
}

.img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}

.img-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px;
  height: 40px;
}

.navigation-options-bar {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shopping-home {
  color: #3b047a;
  margin-left: 7.5px;
}

.shopping-cart {
  color: #4c74d4;
  margin-left: 7.5px;
}

.favourites {
  margin-left: 7.5px;
  color: #c40941;
}

.navigation-options-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation-options-bar ul li {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px;
}

.---icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 10px;
}

.---icon svg {
  font-size: 34px;
}

.hamburger-menu {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 26px;
  color: #000000;
}

.container-for-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.option {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: 'Signika', sans-serif;
  margin: 10px;
}

.-hidden {
  display: block;
  font-size: 44px;
  position: absolute;
  bottom: -10px;
  color: transparent;
}

.-hidden-shop {
  display: block;
  font-size: 44px;
  position: absolute;
  color: transparent;
}

.nmbr-items {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 11px 0 0;
  font-size: 10px;
  z-index: 99;
  font-family: 'Signika', sans-serif;
  color: #fff;
}

@media (max-width: 280px) {
  .favourite-icon {
    display: none;
  }
  .cart-icon {
    display: none;
  }
}

@media (min-width: 599px) {
  .container-for-icons {
    display: none;
  }
  .navigation-options-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=navbar.css.map */