
/* guest */

.card_newUser {
    padding: 10px;
    height: 72.5vh;
    width: 90%;
    background-color: #fff;
}

.layer__ {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: #637069cb;
}

.CloseGuestScreen {
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    height: 68px !important;
    width: 68px !important;
    cursor: pointer;
    z-index: 999;
}

/* guest */

.wrapper-product {
display: flex;
position: relative;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
background: #e9e8e8;
width: 100%;
}

.row-product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
}

.row-for-smaller-containers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-title-- {
    align-self: flex-start;
    margin: 2.2em 0.5em 0.5em;
}

.product-image-- {
    height: 500px;
    width: 500px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: 50% 50%;
    align-self: center;
}

.slidder__ {
    margin: -25px 0;
}

@media (max-width: 599px) {
    
    .product-image-- {
        max-height: 80vw;
        max-width: 80vw;
    }
}

.container-for-product-option {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.mobile-hide {
    display: none !important;
}

/* quantity box component */

.quantity-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-box-container p {
margin: .4rem;
}

.quantity-box {
    display: flex;
    justify-content: center;
}

.select-item-quantity {
    display: flex;
    justify-content: space-between;
}

.p_quantity-itself {
    position: relative;
    background: #fff;
    padding: 10px 15px;
    border-top: 1.25px solid var(--green-color-itself);
    border-bottom: 1.25px solid var(--green-color-itself);
}

.p__ {
    position: relative;
    background: #fff;
    padding: 10px 15px;
    border: 1.25px solid var(--green-color-itself);
    cursor: pointer;
}

.p__:first-child {
    border-right: none;
}

.p__:last-child {
    border-left: none;
}

/* quantity box compoonent */

.price-etc {
    font-weight: 500;
    font-size: 26px;
    line-height: 57.6px;
}

.container-for-product-delivery {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:0  1em;
}

.product-option-itself:first-child {
    background: none;
}

.product-option-itself {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #fff;
    padding: 20px;
    margin: .5rem;
    border-radius: 6px;
}

.product-option-itself:last-child {
    border: #818181 solid 1.5px;
}

.product-parameters {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    margin: 1rem;
    border-radius: 6px;
    border: #818181 solid 1.5px;
}

.row-product h1 {
    margin-top: .5em;
    text-align: center !important;
}

.product-parameters:first-child {
    margin: 1em 0rem;
}

.parameter-itself {
    display: flex;
    align-items: center;
}

.parameter-itself input {
    font-size: 18px;
    height: 25px;
    margin: .3em 0;
}

.parameter-itself p:first-child {
margin: 0 .2em;
color: #1D252C ;
}

.parameter-itself p:last-child {
    color: #849A8E;
}

.container-for-etc-product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 1.2em;
    width: 100%;
}

.container-for-etc-product h2 {
    margin: 1.5rem 0;
}

/* carousel */

.swiper-wrapper {
    width: 10em !important;
    //z-index: 3;
    margin: 3em 0 2.5em;
}

.swiper-pagination-bullet-active {
    background: #C82586 !important;
}

.swiper .product-itself {
height: 100% !important;
width: 100% !important;
}

.swiper .product-img {
    height: 75%;
}

.swiper .title-product {
    align-self: flex-start;
    margin-bottom: .2em;
}

/* carousel */

@media (min-width: 992px) {

    .wrapper-product {
    flex-direction: row;
    }

    .row-product {
        padding: 5em;
    }
       
    .mobile-hide {
    display: flex !important;
    }
        
    .medium-hide {
    display: none;
    }
    
    .product-title-- {
        margin: .8em .5em;
        align-self: flex-end;
    }

    .wrapper-product .site-btn {
        align-self: flex-end;
        width: 100%;
    }

    .row-for-smaller-containers {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .quantity-box-container {
        align-self: flex-start;
    }

    .container-for-product-option {
        width: 50%;
        margin: 0 0 0 2em;
        flex-direction: column;
        height: 25%;
    }

    .container-for-a-parameters {
        position: relative;
        display: flex;
        flex-direction: row;
    }

}