/* products all */

#products-all .startup-screen {
    padding: 8em 0 3em;
}

#products-all .widget-description {
    width: calc(190px + 20%);
}

#products-all select {
    width: 80%;
}

/* products all */

/* login and register */

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:.7em .5em;

    
}


.input-container label {
    background: #F7F8FA;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.685);
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    margin-left: 8px;
    margin-top: -10px;
    padding: 0 6px;
    position: absolute;
    width: auto;
    z-index: 2;
}

.container-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;   
}

.container-wrapped .site-btn {
    margin: .2em;
    width: 40% !important;
}

.google_col {
    background: #8b8b8bb6;
    color: black;
}

.facebook_col {
    background: #0000ffb6;
}

.widget-description {
    border-radius: 10px;
}

#register h1 {
    margin-bottom: 1em;
    padding: 0 1.5em;
}

#register .site-btn {
    margin-top: .4em;
    width: 80%;
    align-self: center;
}

/* login and register */

/* profile page */

#profile h1 {
    align-self: flex-start;
}

#profile .container-for-item-name-h4 {
    flex-direction: column;
    justify-content: flex-start;
}

#profile .container-for-etc {
    margin: .5em .3em;
    background: #e9e8e8;
    border-radius: 5px;
    justify-content: flex-start;
    width: auto;
}

.orders-list {
    display: grid;
    grid-template-columns: auto auto;
}

.user-profile-- {
    height: 250px;
    width: 250px;
    margin: 2em;
    border-radius: 50%;
}

#profile .container-for-a-parameters {
    align-items: flex-start;
}

/* profile page */

/* contact */

#contact h1 {
    font: 400 1.5em "Roboto", sans-serif;
    margin: 0 0 1em;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

/* contact */

/*privacy and policy */

#privacy h1 {
text-align: center;
margin-bottom: .5em;
}

.widget-description h3 {
    margin: 1em 0;
    padding: 0 3em;
}

@media(max-width:599px) {
    .widget-description h3 {
        margin: 1em 0;
        padding: 0 1.5em;
    }

    .orders-list {
        display: flex;
        flex-wrap: wrap;
    }
}

/*privacy and policy */