@import './item/item';
@import './navbar/navbar';
@import './cart/cart';
@import './checkout/checkout';

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Signika:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-page {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;

}


.shop-itself-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: auto;
    background: #f7f7f7;
    z-index: 10;
}

/* footer section */

.Footer-itself {
    position: relative;
    justify-content: center;
    display: flex;
    height: 75px;
    background: #34444c;
}

.Footer-itself img {
    display: block;
    margin: 10px;
    align-self: center;
    height:60px;
}

.Footer-itself p {
    display: inline;
    align-self: center;
    color: white;
    margin: 5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.Footer-itself span {
    display: none;
    align-self: center;
    margin: 15px;
    color: #6bc4e7;
    font-family: 'Nanum Gothic', sans-serif;
}

@media (min-width:599px) {

    .Footer-itself img {
        display: none;
    }

    .Footer-itself span {
        display: inline;
    }

}

@media (min-width:899px) {

    .product-page {
        justify-content: center;
        flex-direction: row;
    }

    .product-container {
        flex-direction: column;
    }

}
