@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Signika:wght@300&display=swap");
.Widget-container-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 780px;
  width: 100%;
}

.Background {
  position: absolute;
  height: 780px;
  width: 100%;
}

.First-Section__ {
  height: 925px;
  background: #F7F8FA;
}

.BackdropWithDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 371px;
  width: 346px;
  background: url(../website-pages/images/card-bg.svg);
}

._second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 420px;
  width: 346px;
  margin: 10px 10px 120px;
}

.BackdropWithDescription span {
  font-size: 40px;
  text-align: center;
}

.BackdropWithDescription h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  width: 250px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.BackdropWithDescription p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 800;
  margin: 10px;
  width: 350px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.BackdropWithDescription button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  height: 41px;
  width: 310px;
  margin: 20px;
}

.BackdropWithDescription button a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 100%;
}

.Widget-container-second h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  width: 250px;
  margin: 20px 10px;
  color: #0B254B;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.item h1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 16px;
  font-weight: 900;
  width: 200px;
  margin: 20px 10px;
  color: #0B254B;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}

.item span {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 20px;
  font-weight: 900;
  width: 120px;
  margin: 20px 10px;
  color: #56B280;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-second p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 800;
  margin: 15px;
  width: 310px;
  color: #5E6E89;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-second button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  height: 40px;
  width: 176px;
  margin: 10px 10px 60px;
}

.Widget-container-second button a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 925px;
  width: 100%;
}

.Widget-container-third h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 350px;
  font-size: 40px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-third span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  width: 350px;
  margin: 10px 10px;
  color: #56B280;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-third img {
  margin: 0px;
}

.Widget-container-third button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  top: 600px;
  height: 40px;
  width: 176px;
}

img.feature-details {
  margin: 10px;
}

.FeaturesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-top: -15px;
  height: 150px;
  width: 100%;
}

.Widget-container-Fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 601px;
  width: 100%;
  background: #56b27f2c;
}

/* testimonial carousel */
.Testimonials-carousel {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  margin: 40px 0;
  background: #ffffff00;
}

.Testimonial-iselft {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 267px;
  height: 244px;
  background: #fff;
  margin: 0 12.35px;
  float: left;
  text-align: center;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.Testimonial-iselft:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 0 24.7px;
  opacity: .5;
  cursor: pointer;
}

.marquee {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 1100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.marquee--inner {
  display: block;
  width: 300%;
  position: absolute;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}

.marquee--inner:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* testimonial carousel */
.user-profile-pic {
  height: 63px;
  width: 64px;
}

.star-itself {
  margin: 0 .5px;
}

.testimonial-desc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 19px;
  width: 250px;
  margin: 14.5px 0 5px;
  color: #0B254B;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.testimonial-guy-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 600;
  width: 250px;
  margin: 5px;
  color: #5E6E89;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

._third {
  height: 121px;
  margin: 50px 10px 10px;
  background: none;
}

._third h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  width: 250px;
  margin: 10px;
  color: #0B254B;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

._third span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 600;
  width: 250px;
  margin: 10px;
  color: #5E6E89;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

/* */
.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 147px;
  width: 346px;
  margin: 30px;
  background: #f1f1f1;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.item .product-container:hover {
  opacity: 1;
}

.icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.product-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e7e7e7e5;
  height: 48px;
  width: 100%;
  bottom: 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-container:hover {
  cursor: pointer;
}

.product-image {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: auto;
  width: 346px;
  top: -50%;
}

.container-for-cart-btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
}

.container-for-desc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  padding-top: 5px;
}

.container-for-desc-item h1 {
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}

.container-for-desc-item p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 45px;
  width: 45px;
  margin: 5px;
  background: white;
  border: 2px solid black;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn .icon {
  color: black;
}

.btn:hover {
  cursor: pointer;
}

.navbar-itself {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
  background: white;
  height: 75px;
}

.img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}

.img-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px;
  height: 40px;
}

.navigation-options-bar {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shopping-home {
  color: #3b047a;
  margin-left: 7.5px;
}

.shopping-cart {
  color: #4c74d4;
  margin-left: 7.5px;
}

.favourites {
  margin-left: 7.5px;
  color: #c40941;
}

.navigation-options-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation-options-bar ul li {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px;
}

.---icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 10px;
}

.---icon svg {
  font-size: 34px;
}

.hamburger-menu {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 26px;
  color: #000000;
}

.container-for-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.option {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: 'Signika', sans-serif;
  margin: 10px;
}

.-hidden {
  display: block;
  font-size: 44px;
  position: absolute;
  bottom: -10px;
  color: transparent;
}

.-hidden-shop {
  display: block;
  font-size: 44px;
  position: absolute;
  color: transparent;
}

.nmbr-items {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 11px 0 0;
  font-size: 10px;
  z-index: 99;
  font-family: 'Signika', sans-serif;
  color: #fff;
}

@media (max-width: 280px) {
  .favourite-icon {
    display: none;
  }
  .cart-icon {
    display: none;
  }
}

@media (min-width: 599px) {
  .container-for-icons {
    display: none;
  }
  .navigation-options-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.else-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 50px;
}

.else-message-container h1 {
  font-family: 'Signika', sans-serif;
}

.cart-itself {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: auto;
}

.cart-itself h1 {
  margin: 10px;
  font-family: 'Signika', sans-serif;
}

.actual-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  margin: 10px;
}

.container-for-a-cart-options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: auto;
  background: #343c4c;
}

.cart-item-name {
  position: relative;
  color: white;
}

.container-of-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 100%;
}

.container-of-btn input {
  border: none;
  height: 45px;
  width: 45px;
  margin: 10px;
  border-radius: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-for-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-for-etc span {
  margin: 10px;
}

.product-image-cart {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* minus and plus button */
.btn- {
  background: #ff000052;
}

.btn-- {
  background: #25a34b85;
}

/* */
.delete-item-btn {
  border: none;
  background: #80008063;
  height: 100%;
  width: 100%;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

.container-delete-all {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.container-for-all-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 130px;
}

.checkout-btns {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 55%;
  margin: 10px;
  width: 175px;
  border: none;
  border-radius: 25px;
  font-family: 'Signika', sans-serif;
  color: white;
}

.checkout-btns a {
  text-transform: uppercase;
  color: white;
}

.first {
  text-transform: uppercase;
  background: #145094;
}

.secondary {
  background: #2b1494;
}

.secondary a {
  text-decoration: none;
  font-family: 'Signika', sans-serif;
  color: white;
}

/* cart item */
.container-of-filled-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  margin: 30px;
  background: #f1f1f1;
}

.cart-item-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.cart-item-itself h4 {
  margin: 10px;
}

.checkout-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-for-payment-steps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.payment-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  height: 50px;
  background: #25a34b85;
}

.payment-form:nth-child(2) {
  background: #ff000052;
  width: 100%;
}

.payment-form label {
  font-family: 'Signika', sans-serif;
}

.Container-for-h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #80008063;
  width: 100%;
}

.Container-for-h4 h4 {
  text-align: center;
  color: white;
  margin: 10px;
  font-family: 'Signika', sans-serif;
}

.step-payment {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.step-payment-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

/* address form */
.address-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  padding: 10px;
  background: white;
}

.details-container {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: green;
}

#test {
  position: relative;
  background: green;
  border-radius: 25px;
  padding: 20px;
}

.address-form label {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 5px;
}

.address-form input {
  border: none;
  margin: 5px;
  background: #dadada;
}

.address-form select {
  border: none;
  margin: 5px;
  background: #dadada;
}

.address-form button {
  margin: 10px;
}

@media (min-width: 599px) {
  .container-for-payment-steps {
    width: 50%;
  }
  .address-form {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .container-for-payment-steps {
    width: 40%;
  }
  .address-form {
    width: 40%;
  }
}

.product-page-main-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #fff;
}

.product-title-- {
  margin: 20px 30px;
  font-size: 26px;
  color: #000000;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}

.product-image-- {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-for-product-option {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.price-etc {
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 26px;
  font-weight: 900;
  margin: 0 30px;
  color: #56B280;
  font-family: 'Nanum Gothic', sans-serif;
}

/* quantity box */
.quantity-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.quantity-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 75px;
  border: 2px solid #56B280;
}

.quantity-box-container p {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

.select-item-quantity {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 61px;
}

.p_quantity-itself {
  font-size: 18px;
  color: #000000;
}

.p__ {
  font-size: 18px;
  color: #56B280;
}

/* quantity box */
/* container-for-product-delivery */
.container-for-product-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 158px;
  width: 350px;
}

.product-option-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.product-option-itself:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* container-for-product-delivery */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
}

.shop-itself-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: auto;
  background: #f7f7f7;
  z-index: 10;
}

/* footer section */
.Footer-itself {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 674px;
  width: 100%;
  background: #fff;
}

.Footer-itself_Img {
  position: absolute;
  display: block;
  height: 600px;
  width: 100%;
}

.Footer-itself_p {
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  margin: -5px 10px 10px 10px;
  font-family: 'Nanum Gothic', sans-serif;
  z-index: 1;
}

.Footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  width: 100%;
}

.Footer-container img {
  position: relative;
  height: 60px;
  width: 150px;
  margin: 10px;
}

hr {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fff;
  font-size: 23px;
  height: 1.5px;
  width: 346px;
  margin: 35px 10px -5px 10px;
  z-index: 1;
}

.Second-footer-container {
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Infos-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
}

.Infos-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 55px 10px -5px 10px;
}

.Infos-widget_p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10px 10px 10px 10px;
  color: #56B280;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Nanum Gothic', sans-serif;
}

.Infos-widget_p:nth-child(5) {
  margin: 55px 10px 10px 10px;
}

.Infos-Widget_span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Nanum Gothic', sans-serif;
  z-index: 2;
}

.CopyrightContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: auto;
}

.Last-bgc {
  width: 100%;
}

.FooterCopyright {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px 10px 10px 10px;
  color: #5E6E89;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Nanum Gothic', sans-serif;
}

@media (min-width: 599px) {
  .Footer-itself span {
    display: inline;
  }
}

@media (min-width: 899px) {
  .product-page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=shop-itself.css.map */