@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Signika:wght@300&display=swap");
.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 250px;
  width: 200px;
  margin: 30px;
  background: #f1f1f1;
}

.item .product-container:hover {
  opacity: 1;
}

.icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.product-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #e7e7e7e5;
  height: 100%;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-image {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 200px;
  width: auto;
}

.container-for-cart-btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container-for-desc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.container-for-desc-item h1 {
  font-size: 20px;
  margin: 3.5px;
  font-family: 'Nanum Gothic', sans-serif;
}

.container-for-desc-item p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 45px;
  width: 45px;
  margin: 5px;
  background: white;
  border: 2px solid black;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn .icon {
  color: black;
}

.btn:hover {
  cursor: pointer;
}

.navbar-itself {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  background: white;
  height: 75px;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
}

.img-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px;
  height: 100px;
}

.navigation-options-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50px;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
}

.shopping-home {
  color: black;
  margin-left: 7.5px;
}

.shopping-cart {
  color: black;
  margin-left: 7.5px;
}

.navigation-options-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation-options-bar ul li {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px;
}

.cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 30px;
  width: 100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #4c74d4;
  -ms-flex-item-align: center;
      align-self: center;
}

.favourite-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 30px;
  width: 100px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #c40941;
  -ms-flex-item-align: center;
      align-self: center;
}

.container-for-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.option {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: 'Signika', sans-serif;
  margin: 10px;
}

.nmbr-items {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 99;
  font-family: 'Signika', sans-serif;
  color: black;
}

.cart-itself {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: auto;
}

.cart-itself h1 {
  margin: 10px;
  font-family: 'Signika', sans-serif;
}

.actual-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  margin: 10px;
}

.container-for-a-cart-options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  width: auto;
  background: #343c4c;
}

.cart-item-name {
  position: relative;
  color: white;
}

.container-of-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-of-btn input {
  border: 2px solid black;
  width: 50%;
}

.delete-item-btn {
  border: 2px solid black;
}

.checkout-btns {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 50%;
  width: 175px;
  border: none;
}

.first {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.secondary {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.secondary a {
  text-decoration: none;
  color: black;
}

/* cart item */
.container-of-filled-cart {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  background: red;
  margin: 10px;
}

.cart-item-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-item-itself h4 {
  margin: 10px;
}

.checkout-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout-itself h4 {
  text-align: center;
  color: white;
  margin: 10px;
}

.container-for-payment-steps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.payment-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 50px;
  width: 125px;
  background: #25a34b;
}

.step-payment {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.step-payment-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

/* address form */
.address-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  height: 400px;
  width: 300px;
  margin: 10px;
  background: red;
}

.details-container {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: green;
}

#test {
  position: relative;
  background: green;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

.shop-itself-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: auto;
  background: #f7f7f7;
  z-index: 10;
}

@media (min-width: 1199px) {
  .product-page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=shop-itself.css.map */