@import './item/item';
@import './navbar/navbar';
@import './cart/cart';
@import './checkout/checkout';

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Signika:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.shop-itself-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: auto;
    background: #f7f7f7;
    z-index: 10;
}

/* footer section */

.Footer-itself {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 674px;
    width: 100%;
    background: #fff;
}

.Footer-itself_Img {
    position: absolute;
    display: block;
    height:600px;
    width: 100%;
}

.Footer-itself_p {
    display: inline;
    align-self: center;
    color: white;
    margin: -5px 10px 10px 10px;
    font-family: 'Nanum Gothic', sans-serif;
    z-index: 1;
}
.Footer-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
}

.Footer-container img {
    position: relative;
    height: 60px;
    width: 150px;
    margin: 10px;
}

hr {
    align-self: center;
    background: #fff;
    font-size: 23px;
    height: 1.5px;
    width: 346px;
    margin: 35px 10px -5px 10px;
    z-index: 1;
}

.Second-footer-container {
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;


}

.Infos-container {
    position: relative;
    display: flex;
    height: 400px;
}

.Infos-widget {
    display: flex;
    flex-direction: column;
    margin: 55px 10px -5px 10px;
}

.Infos-widget_p {
    align-self: flex-start;
    margin: 10px 10px 10px 10px;
    color: #56B280;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nanum Gothic', sans-serif;
}

.Infos-widget_p:nth-child(5) {
    margin: 55px 10px 10px 10px;
}

.Infos-Widget_span {
    align-self: flex-start;
    margin: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nanum Gothic', sans-serif;
    z-index: 2;
}

.CopyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: auto;
}

.Last-bgc {
    width: 100%;
}

.FooterCopyright {
    position: absolute;
    align-self: center;
    margin: 10px 10px 10px 10px;
    color: #5E6E89;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nanum Gothic', sans-serif;
}

@media (min-width:599px) {

    .Footer-itself span {
        display: inline;
    }

}

@media (min-width:899px) {

    .product-page {
        justify-content: center;
        flex-direction: row;
    }

    .product-container {
        flex-direction: column;
    }

}
