@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Signika:wght@300&display=swap");
.Widget-container-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 780px;
  width: 100%;
}

.Background {
  position: absolute;
  height: 780px;
  width: 365px;
}

.BackdropWithDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 371px;
  width: 346px;
  background: url(../website-pages/images/card-bg.svg);
}

.BackdropWithDescription span {
  font-size: 40px;
  text-align: center;
}

.BackdropWithDescription h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  width: 250px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.BackdropWithDescription p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 800;
  margin: 10px;
  width: 350px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.BackdropWithDescription button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  height: 41px;
  width: 310px;
  margin: 20px;
}

.BackdropWithDescription button a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 100%;
}

.Widget-container-second h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  width: 250px;
  margin: 10px;
  color: #0B254B;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-second p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 800;
  margin: 15px;
  width: 310px;
  color: #5E6E89;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-second button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  height: 40px;
  width: 176px;
  margin: 10px;
}

.Widget-container-second button a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 925px;
  width: 100%;
}

.Widget-container-third h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 350px;
  font-size: 40px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-third span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  width: 250px;
  margin: 10px;
  color: #56B280;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.Widget-container-third img {
  margin: 0px;
}

.Widget-container-third button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #56B280;
  top: 570px;
  height: 40px;
  width: 176px;
}

img.feature-details {
  margin: 10px;
}

.FeaturesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-top: -25px;
  height: 150px;
  width: 100%;
}

/* */
.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 250px;
  width: 90vw;
  margin: 30px;
  background: #f1f1f1;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.item .product-container:hover {
  opacity: 1;
}

.icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.product-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #e7e7e7e5;
  height: 200px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-image {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 200px;
  width: auto;
}

.container-for-cart-btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
}

.container-for-desc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  padding-top: 5px;
}

.container-for-desc-item h1 {
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}

.container-for-desc-item p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 45px;
  width: 45px;
  margin: 5px;
  background: white;
  border: 2px solid black;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn .icon {
  color: black;
}

.btn:hover {
  cursor: pointer;
}

.navbar-itself {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
  background: white;
  height: 75px;
}

.img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}

.img-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px;
  height: 40px;
}

.navigation-options-bar {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shopping-home {
  color: #3b047a;
  margin-left: 7.5px;
}

.shopping-cart {
  color: #4c74d4;
  margin-left: 7.5px;
}

.favourites {
  margin-left: 7.5px;
  color: #c40941;
}

.navigation-options-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation-options-bar ul li {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px;
}

.---icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 10px;
}

.---icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hamburger-menu {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 26px;
  color: #000000;
}

.container-for-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.option {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: 'Signika', sans-serif;
  margin: 10px;
}

.-hidden {
  display: block;
  font-size: 44px;
  position: absolute;
  bottom: -10px;
  color: transparent;
}

.-hidden-shop {
  display: block;
  font-size: 44px;
  position: absolute;
  color: transparent;
}

.nmbr-items {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  font-size: 12px;
  z-index: 99;
  font-family: 'Signika', sans-serif;
  color: #4c74d4;
}

@media (max-width: 280px) {
  .favourite-icon {
    display: none;
  }
  .cart-icon {
    display: none;
  }
}

@media (min-width: 599px) {
  .container-for-icons {
    display: none;
  }
  .navigation-options-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.else-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 50px;
}

.else-message-container h1 {
  font-family: 'Signika', sans-serif;
}

.cart-itself {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: auto;
}

.cart-itself h1 {
  margin: 10px;
  font-family: 'Signika', sans-serif;
}

.actual-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  margin: 10px;
}

.container-for-a-cart-options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: auto;
  background: #343c4c;
}

.cart-item-name {
  position: relative;
  color: white;
}

.container-of-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 100%;
}

.container-of-btn input {
  border: none;
  height: 45px;
  width: 45px;
  margin: 10px;
  border-radius: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-for-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-for-etc span {
  margin: 10px;
}

.product-image-cart {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* minus and plus button */
.btn- {
  background: #ff000052;
}

.btn-- {
  background: #25a34b85;
}

/* */
.delete-item-btn {
  border: none;
  background: #80008063;
  height: 100%;
  width: 100%;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

.container-delete-all {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.container-for-all-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 130px;
}

.checkout-btns {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 55%;
  margin: 10px;
  width: 175px;
  border: none;
  border-radius: 25px;
  font-family: 'Signika', sans-serif;
  color: white;
}

.checkout-btns a {
  text-transform: uppercase;
  color: white;
}

.first {
  text-transform: uppercase;
  background: #145094;
}

.secondary {
  background: #2b1494;
}

.secondary a {
  text-decoration: none;
  font-family: 'Signika', sans-serif;
  color: white;
}

/* cart item */
.container-of-filled-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  margin: 30px;
  background: #f1f1f1;
}

.cart-item-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.cart-item-itself h4 {
  margin: 10px;
}

.checkout-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-for-payment-steps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.payment-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  height: 50px;
  background: #25a34b85;
}

.payment-form:nth-child(2) {
  background: #ff000052;
  width: 100%;
}

.payment-form label {
  font-family: 'Signika', sans-serif;
}

.Container-for-h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #80008063;
  width: 100%;
}

.Container-for-h4 h4 {
  text-align: center;
  color: white;
  margin: 10px;
  font-family: 'Signika', sans-serif;
}

.step-payment {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.step-payment-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

/* address form */
.address-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  padding: 10px;
  background: white;
}

.details-container {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: green;
}

#test {
  position: relative;
  background: green;
  border-radius: 25px;
  padding: 20px;
}

.address-form label {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 5px;
}

.address-form input {
  border: none;
  margin: 5px;
  background: #dadada;
}

.address-form select {
  border: none;
  margin: 5px;
  background: #dadada;
}

.address-form button {
  margin: 10px;
}

@media (min-width: 599px) {
  .container-for-payment-steps {
    width: 50%;
  }
  .address-form {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .container-for-payment-steps {
    width: 40%;
  }
  .address-form {
    width: 40%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-itself-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: auto;
  background: #f7f7f7;
  z-index: 10;
}

/* footer section */
.Footer-itself {
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  width: 100%;
  background: #272727;
}

.Footer-itself img {
  display: block;
  margin: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 60px;
}

.Footer-itself p {
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  margin: 5px;
  font-family: 'Nanum Gothic', sans-serif;
}

.Footer-itself span {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px;
  color: #6bc4e7;
  font-family: 'Nanum Gothic', sans-serif;
}

.Footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

hr {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fff;
  height: 1.5px;
  width: 346px;
}

@media (min-width: 599px) {
  .Footer-itself img {
    display: none;
  }
  .Footer-itself span {
    display: inline;
  }
}

@media (min-width: 899px) {
  .product-page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=shop-itself.css.map */