.navbar-itself {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  background: white;
  height: 75px;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
}

.img-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px;
  height: 100px;
}

.navigation-options-bar {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shopping-home {
  color: #3b047a;
  margin-left: 7.5px;
}

.shopping-cart {
  color: #4c74d4;
  margin-left: 7.5px;
}

.favourites {
  margin-left: 7.5px;
  color: #c40941;
}

.navigation-options-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation-options-bar ul li {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px;
}

.cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 10px;
  background: #4c74d4;
  -ms-flex-item-align: center;
      align-self: center;
}

.favourite-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 10px;
  background: #c40941;
  -ms-flex-item-align: center;
      align-self: center;
}

.hamburger-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 10px;
  background: #3b047a;
  -ms-flex-item-align: center;
      align-self: center;
}

.cart-ico {
  position: absolute;
  font-size: 30px;
  margin-bottom: 2.5px;
}

.heart-ico {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 28px;
}

.menu-ico {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 26px;
}

.container-for-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.option {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: 'Signika', sans-serif;
  margin: 10px;
}

.-hidden {
  display: block;
  font-size: 44px;
  position: absolute;
  bottom: -10px;
  color: transparent;
}

.-hidden-shop {
  display: block;
  font-size: 44px;
  position: absolute;
  color: transparent;
}

.nmbr-items {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  font-size: 12px;
  z-index: 99;
  font-family: 'Signika', sans-serif;
  color: #4c74d4;
}

@media (max-width: 280px) {
  .favourite-icon {
    display: none;
  }
  .cart-icon {
    display: none;
  }
}

@media (min-width: 599px) {
  .container-for-icons {
    display: none;
  }
  .navigation-options-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=navbar.css.map */