.navbar-itself {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: auto;
    background: white;
    height: 75px;
}

.img-container {
    display: flex;
    width: 10%;
}

.img-container img {
    align-self: center;
    margin: 15px;
    height: 100px;
}

.navigation-options-bar {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    width: 80%;
    align-self: center;
}

.shopping-home {
    color: black;
    margin-left: 7.5px;
}

.shopping-cart {
    color: black;
    margin-left: 7.5px;
}

.navigation-options-bar ul {
    display: flex;
    list-style: none;
}

.navigation-options-bar ul li {
    text-transform: uppercase;
    align-self: center;
    margin: 10px;
}

.cart-icon {
    display: flex;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 100px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    background: #4c74d4;
    align-self: center;
}

.favourite-icon {
    display: flex;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 100px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    background: #c40941;
    align-self: center; 
}

.container-for-icons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.option {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-family: 'Signika', sans-serif;
    margin: 10px;
}
.nmbr-items {
    align-self: center;
    z-index: 99;
    font-family: 'Signika', sans-serif;
    color: black;
}