.navbar-itself {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: auto;
    background: white;
    height: 75px;
}

.img-container {
    display: flex;
    width: 10%;
}

.img-container img {
    align-self: center;
    margin: 15px;
    height: 100px;
}

.navigation-options-bar {
    display: none;
    justify-content: flex-end;
    height: 50px;
    width: 80%;
    align-self: center;
}

.shopping-home {
    color: #3b047a;
    margin-left: 7.5px;
}

.shopping-cart {
    color: #4c74d4;
    margin-left: 7.5px;
}

.favourites {
    margin-left: 7.5px;
    color: #c40941;
}

.navigation-options-bar ul {
    display: flex;
    list-style: none;
}

.navigation-options-bar ul li {
    text-transform: uppercase;
    align-self: center;
    margin: 10px;
}

.cart-icon {
    display: flex;
    justify-content: center;
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 10px;
    background: #4c74d4;
    align-self: center;
}

.favourite-icon {
    display: flex;
    justify-content: center;
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 10px;
    background: #c40941;
    align-self: center; 
}

.hamburger-menu-icon {
    display: flex;
    justify-content: center;
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 10px;
    background: #3b047a;
    align-self: center; 
}

.cart-ico {
    position: absolute;
    font-size: 30px;
    margin-bottom: 2.5px;
}

.heart-ico {
    align-self: center;
    font-size: 28px;
}

.menu-ico {
    align-self: center;
    font-size: 26px;
}

.container-for-icons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.option {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-family: 'Signika', sans-serif;
    margin: 10px;
}

.-hidden {
    display: block;
    font-size: 44px;
    position: absolute;
    bottom:-10px ;
    color: transparent;
}

.-hidden-shop {
    display: block;
    font-size: 44px;
    position: absolute;
    color: transparent;
}

.nmbr-items {
    align-self: center;
    margin-top: 10px;
    font-size: 12px;
    z-index: 99;
    font-family: 'Signika', sans-serif;
    color: #4c74d4;
}

@media (max-width:280px) {

    .favourite-icon {
        display: none;
    }

    .cart-icon {
        display: none;
    }

}

@media (min-width:599px) {

    .container-for-icons {
        display: none;
    }

    .navigation-options-bar {
        display: flex;
    }

}