.item {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    align-self: center;
    height: 200px;
    width: 200px;
    margin: 30px;
    background: #f1f1f1;
}

.item .product-container:hover {
    opacity: 1;
}

.product-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #e7e7e7e5;
    height: 100%;
    opacity: 0;
    transition: .5s;
    }

.product-image {
    position: absolute;
    align-self: center;
    height: 100px;
    width: auto;
}

.container-for-cart-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.container-for-desc-item {
    display: flex;
    flex-direction: column;


}

.container-for-desc-item h1 {
    font-size: 20px;
    margin: 3.5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.container-for-desc-item p {
    font-size: 18px;
    margin: 5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.cart-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 45px;
    width: 45px;
    margin: 5px;
    background: blue;
    border: 2px solid #4b4bff;
    transition: .5s;
}

.cart-btn p {
    align-self: center;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

.cart-btn:hover {
    background: white;
    border: 2px solid black;
    cursor: pointer;
}
